html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  background-image: url(NYC.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Open Sans", sans-serif;
}
.Header {
  height: 30rem;
  background-color: rgba(5, 4, 4, 0.273);
  position: relative;
  margin: 1rem;
}
.Title {
  position: absolute;
  color: black;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 10px;
  text-transform: uppercase;
}
#Subtitle {
  color: gray;
  top: 20%;
  letter-spacing: 1px;
}
