html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(NYC.jpg);
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
#1 {
  letter-spacing: 30px;
}
.Title {
  letter-spacing: 10px;
  position: absolute;
}
div:nth-of-type(1) {
  color: rgba(128, 128, 128, 0.473);
  position: relative;
}
h1 {
  margin: 10 auto;
}
